@charset "UTF-8";


h2{
  font-family: 'Noto Sans JP', sans-serif;
}



.atop{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7c6bd;
}
.atop p{
  font-family: 'STIX Two Math', serif;
}


.container-video {
  position: relative;
  height: 600px;
  overflow: hidden;
  opacity: 0.01;
  animation: load 1.5s 0.8s ease-out forwards;
}
.container-video #video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(1.05);
}

@keyframes load {
  100% {
    opacity: 1;
  }
}
.table-center {
  display: table;
  width: 100%;
  position: relative;
  height: 100%;
}
.table-center > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  text-align: center;
}
.table-center > div p {
  color: #fff;
  text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px;
  font-size: 2em;
  font-weight: 600;
  font-family: 'STIX Two Math', serif;
}



.main1{
  margin-top: 80px;
}
.main1 p {
  padding-top: 8px;
  font-family: 'Noto Sans JP', sans-serif;
}
.main1 a{
  font-family: 'Noto Sans JP', sans-serif;
}
.m1t{
  text-align: center;
  background-color:
}
.m1m{
  padding-top: 30px;
  padding-left: 30vw;
}
.mas{
  padding-top: 30px;
}



.next{
  margin-top: 130px;
}
.nett{
  text-align: center;
}
.nem{
  padding-top: 30px;
  padding-left: 30vw;
}
.nem P{
  font-family: 'Noto Sans JP', sans-serif;
}
.nem a{
  font-family: 'Noto Sans JP', sans-serif;
}



.fin{
  margin-top: 130px;
}
.fin p{
  padding-top: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}
.ft{
  text-align: center;
}
.tm{
  padding-top: 30px;
  padding-left: 30vw;
  padding-right: 30vw;
}



.sap{
  padding-top: 130px;
  text-align: center;
}
.lp{
  padding-top: 30px;
  padding-left: 25px;
  margin-bottom: 30px;
}
.lp p{
  padding-top: 5px;
  font-family: 'Noto Sans JP', sans-serif;
}



footer{
  background: #ffece8;
  text-align: center;
  padding: 26px; 0;
}
footer p{
  color: #777;
  font-size: 0.875rem;
  font-family: 'STIX Two Math', serif;
}
